In [2]:
import numpy as np
import pandas as pd

In [3]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
movies = movies.merge(credits, on = 'title')

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [6]:
movies = movies[['id','title','cast','genres','keywords','crew','overview']]
movies.head(1)

,id,title,cast,genres,keywords,crew,overview
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [7]:
movies.isnull().sum()

id          0
title       0
cast        0
genres      0
keywords    0
crew        0
overview    3
dtype: int64

In [8]:
movies.dropna(inplace = True)
movies.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4804    False
4805    False
4806    False
4807    False
4808    False
Length: 4806, dtype: bool

In [9]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [10]:
import ast
def convert(object):
    List = []
    for i in ast.literal_eval(object):
        List.append(i['name'])
    return List

In [11]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [12]:
def convert_cast(obj):
    list = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            list.append(i['name'])
            counter += 1
        else:
            break
    return list        

movies['cast'] = movies['cast'].apply(convert_cast)
movies.head(2)

,id,title,cast,genres,keywords,crew,overview
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha..."

In [13]:
def get_director(obj):
    list = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            list.append(i['name'])
            break
            
    return list

In [14]:
movies['crew'] = movies['crew'].apply(get_director)
movies.head(1)

,id,title,cast,genres,keywords,crew,overview
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron],"In the 22nd century, a paraplegic Marine is di..."

In [15]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

movies.head(1)

,id,title,cast,genres,keywords,crew,overview
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [16]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['cast']   = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [17]:
movies['tags'] = movies['genres'] + movies['cast'] + movies['crew'] + movies['keywords'] + movies['overview']

In [18]:
movie = movies[['id','title','tags']]
movie['tags'] = movie['tags'].apply(lambda x:' '.join(x))
movie['tags'] = movie['tags'].apply(lambda x:x.lower())
movie.head(1)

C:\Users\amaan\AppData\Local\Temp\ipykernel_19908\3544334503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['tags'].apply(lambda x:' '.join(x))
C:\Users\amaan\AppData\Local\Temp\ipykernel_19908\3544334503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['tags'].apply(lambda x:x.lower())

      id   title                                               tags
0  19995  Avatar  action adventure fantasy sciencefiction samwor...

In [19]:
import nltk
from nltk.stem import PorterStemmer

ps = PorterStemmer()
def stem(text):
    list =[]
    for i in text.split():
        list.append(ps.stem(i))
    return " ".join(list)    
    
movie['tags'] = movie['tags'].apply(stem)
movie.head(1)

C:\Users\amaan\AppData\Local\Temp\ipykernel_19908\2205701090.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['tags'].apply(stem)

      id   title                                               tags
0  19995  Avatar  action adventur fantasi sciencefict samworthin...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(movie['tags']).toarray()
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity
similar = cosine_similarity(vectors)
sorted(list(enumerate(similar[0])), reverse = True, key = lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957)]

In [22]:
def recommend(film):
    film_index = movie[movie['title'] == film].index[0]
    similarity = similar[film_index]
    top_similarities = sorted(list(enumerate(similarity)), reverse=True, key=lambda x: x[1])[1:6]
    for i in top_similarities:
        print(movie.iloc[i[0]].title)

In [23]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [24]:
import joblib

# Save the movie object
joblib.dump(movie, 'movie.pkl')

# Save the similar object
joblib.dump(similar, 'similar.pkl')

['similar.pkl']